@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 8th Edition
   Tutorial 6
   Case Problem 2

   Calendar Style Sheet
   Author: Christopher Charles
   Date: 2023/04/02

   Filename:   lht_tables.css

*/

/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/
@media only screen and (max-width: 640px)
{
   /* Display all table, tbody, tr, td, th, and caption elements as blocks */
   table, tbody, tr, td, th, caption 
   {
      display: block;
   }

   /* Hide the thead and h1 elements */
   table thead
   {
      display: none;
   }

   table h1 
   {
      display: none;
   }

   /* CSS Rules for the caption element */
   caption 
   {
      color: white;
      background-color: rgb(50,50,50);
      font-size: 1.5em;
      line-height: 2em;
   }

   /* CSS Rules for data cell elements inside the table body */
   tbody td
   {
      border: dotted gray 1px;
      color: rgb(11, 12, 145);
      position: relative;
      padding-left: 40%;
      min-height: 40px;
   }

   /* CSS Rules for every odd table row attribute with in the tbody */
   tbody tr:nth-of-type(odd)
   {
      border: solid gray 2px;
      background-color: rgb(255, 235, 178);
   }

   /* CSS Rules for date-date attribute with in the tbody */
   tbody td::before
   {
      content: attr(data-date);
      position: absolute;
      top: 0;
      left: 0;
      width: 40%;
      padding: 5px;
   }
}




/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/

@media only screen and (min-width: 641px) 
{
   /* CSS Rules for Table element format */
   table
   {
      background-image: url(lht_photo1.png);
      background-repeat: no-repeat;
      background-position: bottom right;
      background-size: 40%;
      border: 6px double rgb(154, 64, 3);
      border-collapse: collapse;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      table-layout: fixed;
      width: 85%;
   }

   /* CSS Rules for every table heading's data cells */
   th, td 
   {
      border: 1px solid gray;
      font-size: 0.85em;
      font-weight: normal;
      padding: 5px;
      vertical-align: top;
      width: 14.28%;
      word-wrap: break-word;
   }

   /* CSS Rules for every td elements */
   td 
   {
      background-color: rgba(171, 171, 171, 0.6);
      color: rgb(11, 12, 145);
   }

   /* CSS Rules for table boxes with the month Sep */
   td[data-date*="Sep"]
   {
      background-color: rgba(232, 214, 148, 0.6);
      box-shadow: inset 0 0 20px gray;
   }

   /* CSS Rules for the caption (or title) element of the table */
   caption
   {
      text-align: center;
      padding-bottom: 10px;
      font-size: 1.2em;
      letter-spacing: 3px;  
   }

   /* CSS Rules for th elements within the thead section */
   thead, th 
   {
      background-color: rgb(154, 64, 3);
      color: white;
   }
}